<div id="top-secret">
      <img src="/images/logo.svg" />
      <div class="mission">
        <h1>Top Secret</h1>
        <h2>Your Mission</h2>
        <pre>
          <%= @current_user.email %>
          <%= @session_id %>
          </pre>
      </div>
</div>